/* In order to keep the 'look and feel' of your projects consistent,
   we keep all CSS for the three projects in a single file. Where
   possible, try to consolidate CSS that will apply to more than one
   of your pages. You can do this by using class names instead of id
   attributes wherever appropriate.
  */

/* We start with the spatial history assignment */

/* add any styling for the main div here */
#map_legend img {
  height: 250px;
  width: 400px;

  margin: 10px;
}

div.container {
}

 div#map_legend img {
   height: 100px;
   width:auto;
display:inline-block;
float:left;
    }


div#mapcontainer {
  font-family:Arial, sans-serif;
  font-size:11px;
  border:4px solid #629eda;
  width:100%;
  float:left;
  margin: 5px  0px  5px  0px;
}

/* you can change the size of the map here if you want you can even
   use percentages instead of pixels. In this example code let the
   width be set by the containing element, but constrain the height
*/
div#map_canvas {
  height:80vh;                  /*80 % of the viewport height*/
}

/* this is the legend div. Can you make it into a right sidebar? you may
have to add some extra css to the mapcontainer div */
div#map_legend {
     width:100%;
    float:left;
    font: 10px, #8b182f;
    border: 4px  #629eda solid;

display:inline-block;
}

/* if you want, you can make the text in the legend less ugly by adding
extra css classes. Advisable! */
div#map_legend h1, div#map_legend h3 {
  font:   1px, #8b1bbb;

}



div.pointer {
    cursor:pointer
    }

/*just for fun, we can style the buttons using classes
  button.rounjded means "all buttons with the class of
  rounded".  button#hide meands "the button with the
  id of hide"
*/
button.rounded {
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  border: 1px black solid;
}
button#hide {
  background-color:#8fe594;
}
button#show {
  background-color:#8fe594;
}

div.cleared {
  clear: both;
}

/* use these last three to style the text inside the
   infowindows.  They are pretty ugly at the moment,
   consider making them prettier.

*/

div#map_canvas h1 {

}
div.contentdiv {
 height:300px;
 width:50px;
}

div.address  {

}

div.description {
  color:#e95516;

}

div.gm-style-iw {
    max-height: 150px;
}
div.gm-style-iw img {
    max-width: 75% !important;
}

div.gm-style-iw blockquote {
    font-family:cursive;
}


/* Here's some adidtional CSS for the oral history project.  */

/* AUDIO PLAYER */
#media {
    border: 4px solid #880000;
    width: 100%;
    margin: 15px 0;
    box-shadow: rgba(0,0,0, .5) 0 0 5px;
}

/* SIDEPANEL */
.sidepanel {
   margin: 15px;
   float: right;
}

#popcorn-container {
   border: 4px solid #aa0000;
   width: 425px;
   height: 600px;
   background-color: #000000;
   padding: 10px;
}
#popcorn-container img {
  height:auto;
  width:100%;

}
#popcorn-container p {
  color: #ff621a;
  font: Arial, sans-serif;
  
}
